<!doctype html>
<html lang="en" translate="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/coviddash/css/site.css?v=1.1">
    <title>Covid Dashboard</title>
</head>
<body>

    <div id="app">
        <v-app id="inspire">
            <v-main>
                <v-container>
                    <v-autocomplete chips
                                    clearable
                                    deletable-chips
                                    multiple
                                    small-chips
                                    solo
                                    v-model="selectedCountries"
                                    :items="allCountries"
                                    label="Countries"
                                    item-text="title"
                                    item-value="value"></v-autocomplete>
                    <v-autocomplete chips
                                    clearable
                                    deletable-chips
                                    multiple
                                    small-chips
                                    solo
                                    v-model="selectedAttributes"
                                    :items="allAttributes"
                                    label="Attributes"
                                    item-text="title"
                                    item-value="value"></v-autocomplete>
                    <v-autocomplete chips
                                    clearable
                                    deletable-chips
                                    multiple
                                    small-chips
                                    solo
                                    v-model="selectedOptions"
                                    :items="allOptions"
                                    label="Options"
                                    item-text="title"
                                    item-value="value"></v-autocomplete>
                    <v-autocomplete chips
                                    clearable
                                    deletable-chips
                                    multiple
                                    small-chips
                                    solo
                                    v-model="selectedPredictions"
                                    :items="allPredictions"
                                    label="Predictions"
                                    item-text="title"
                                    item-value="value"></v-autocomplete>
                    <v-autocomplete chips
                                    clearable
                                    deletable-chips
                                    multiple
                                    small-chips
                                    solo
                                    v-model="selectedExtras"
                                    :items="allExtras"
                                    label="Extras"
                                    item-text="title"
                                    item-value="value"></v-autocomplete>
                    <div id="chart-line"></div>
                    <div id="chart-bar"></div>
                    <div id="chart-pie"></div>
                    <div id="chart-map"></div>
                </v-container>
            </v-main>
        </v-app>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>


    <script src="/coviddash/js/site.js?v=1.2"></script>

</body>
</html>