.main-container-1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.main-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p1-main-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p1-main-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.p1-mid-title {
    display: flex;
    justify-content: center;
    background-color: #0c5a9a;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}